In [117]:
# Imports
import pandas as pd
import sys

In [118]:
# Einlesen der CSV-Datei
umsatz_2020_dataframe = pd.read_csv("Ums2020Berlin.csv", sep = "#")
umsatz_2020_dataframe

       Umsatz      Monat
0   104564.62     August
1    99574.76        Mai
2   287654.65     Januar
3   199345.10   Dezember
4   155856.23   November
5    45001.56    Februar
6    91023.44    Oktober
7    56524.32       März
8    67832.34       Juni
9    55243.56      April
10   95345.00       July
11   84123.43  September

In [119]:
# Variablen initialisieren
max_umsatz = sys.float_info.min
min_umsatz = sys.float_info.max
avg_umsatz = 0.0

# Maximaler Umsatz ermitteln
for umsatz in umsatz_2020_dataframe["Umsatz"]:
    if umsatz > max_umsatz:
        max_umsatz = umsatz

# Minimaler Umsatz ermitteln
for umsatz in umsatz_2020_dataframe["Umsatz"]:
    if umsatz < min_umsatz:
        min_umsatz = umsatz

# Durschnittlicher Umsatz ermitteln
count = 0
sum_umsatz = 0.0

for umsatz in umsatz_2020_dataframe["Umsatz"]:
    sum_umsatz += umsatz
    count += 1

avg_umsatz = sum_umsatz / count

# Ausgabe der Umsätze
print(f"Der höchste Umsatz beträgt {max_umsatz}")
print(f"Der geringste Umsatz beträgt {min_umsatz}")
print(f"Der durchschnittliche Umsatz beträgt {avg_umsatz}")

Der höchste Umsatz beträgt 287654.65
Der geringste Umsatz beträgt 45001.56
Der durchschnittliche Umsatz beträgt 111840.75083333331

In [120]:
# Maximaler Umsatz ermitteln
max_umsatz = umsatz_2020_dataframe["Umsatz"].max() 

# Minimaler Umsatz ermitteln
min_umsatz = umsatz_2020_dataframe["Umsatz"].min()

# Durchschnittlicher Umsatz ermitteln
avg_umsatz = umsatz_2020_dataframe["Umsatz"].mean()

# Ausgabe der Umsätze
print(max_umsatz)
print(min_umsatz)
print(avg_umsatz)

287654.65
45001.56
111840.75083333334