<h1>Pandas Tutorial</h1>
<h3>DataFrame</h3>
Ein DatenFrame ist eine Art Zweidimensionaler-Array -> Eine Tabelle mit Zeilen und Spalten. <br>
Um bestimmte Daten anzusprechen wird das Attribut <b>loc</b> verwendet. <br>
Mit dem Attribut <b>index</b> können den einzelnen Spalten Namen zugewiesen werden.

In [2]:
# Import Pandas
import pandas as pd

In [16]:
# Dictionary anlegen
Mercedes_Benz = {
    "Modell" : ["A-Klasse", "E-Klasse", "S-Klasse"],
    "Preis" : [20000, 80000, 120000]
}

# Dictionary in DatenFrame speichern und ausgeben
MB_DataFrame = pd.DataFrame(Mercedes_Benz)
print(MB_DataFrame)

# Ansprechen der ersten Zeile
print(MB_DataFrame.loc[0])

     Modell   Preis
0  A-Klasse   20000
1  E-Klasse   80000
2  S-Klasse  120000
Modell    A-Klasse
Preis        20000
Name: 0, dtype: object

Mit dem Attribut <b>index</b> können den einzelnen Spalten Namen zugewiesen werden.

In [17]:
# Bennenen der Zeilen
MB_DataFrame = pd.DataFrame(Mercedes_Benz, index = ["Auto1", "Auto2", "Auto3"])
print(MB_DataFrame)

# Ansprechen der Zeilen nach selbstgewählten Namen
print(MB_DataFrame.loc["Auto2"])

         Modell   Preis
Auto1  A-Klasse   20000
Auto2  E-Klasse   80000
Auto3  S-Klasse  120000
Modell    E-Klasse
Preis        80000
Name: Auto2, dtype: object

<h3>Dateien in einen DataFrame laden</h3>
Wenn die Daten in einer Datei gespeichert sind, können diese in einen DataFrame geladen werden.

In [18]:
# Die Methode read_csv() der Libary Pandas liefert als Rückgabewert die Daten in einem DataFrame
temp_DataFrame = pd.read_csv("12.1 TempsSmall.csv")

# In dieser CSV-Datei fehlt die erste Zeile der Attribute, die den Key zum passenden Value angibt. Mit dem Attribut names, können den Spalten Keys zugewiesen werden
temp_DataFrame = pd.read_csv("12.1 TempsSmall.csv", names=["Sensor","Zeitstempel","Temperatur"])

# Spalte zum DataFrame hinzufügen
temp_DataFrame["Neue_Spalte"] = ""

# Ausgabe des DataFrames
temp_DataFrame

   Sensor          Zeitstempel  Temperatur Neue_Spalte
0      S1  2020-07-01 07:30:42        40.4
1      S2  2020-07-01 07:30:43        42.4
2      S3  2020-07-01 07:30:24        28.4
3      S4  2020-07-01 07:30:25        29.8
4      SB  2020-07-01 07:43:34        20.4
5      S3  2020-07-01 08:44:12        28.9
6      S2  2020-07-01 08:44:22        43.7
7      SD  2020-07-01 08:44:19        32.4
8      S4  2020-07-01 08:45:48        30.9
9      S1  2020-07-01 09:12:25        41.4
10     SB  2020-07-01 09:13:42        26.4
11     S2  2020-07-01 09:13:52        44.1
12     S1  2020-07-01 09:14:28        44.3
13     S2  2020-07-01 09:15:32        45.9
14     S4  2020-07-01 10:31:16        38.7
15     S3  2020-07-01 10:32:42        31.5
16     S1  2020-07-01 10:32:59        48.4
17     S3  2020-07-01 10:36:32        37.1
18     S4  2020-07-01 11:04:45        40.2
19     S3  2020-07-01 11:04:52        38.4
20     S1  2020-07-01 11:05:58        51.2
21     S2  2020-07-01 12:22:13        55.8
22     S1  2020-07-01 12:22:45        52.4
23     S1  2020-07-01 12:23:34        44.4
24     S4  2020-07-01 12:30:26        44.1
25     SD  2020-07-01 13:33:54        45.4
26     S1  2020-07-01 13:33:45        50.0
27     S3  2020-07-01 13:34:25        44.7
28     SB  2020-07-01 14:35:59        30.0
29     S4  2020-07-01 14:44:57        48.1
30     S1  2020-07-01 16:31:38        59.5
31     S2  2020-07-01 16:32:18        59.4
32     SB  2020-07-01 16:33:26        33.4
33     S4  2020-07-01 17:32:30        49.2

<h3>Read CSV-File</h3>

In [19]:
# Die Methode read_csv() der Libary Pandas liest eine json-Datei ein und liefert als Rückgabewert einen DataFrame
temp_DataFrame = pd.read_csv("12.1 TempsSmall.csv")
temp_DataFrame

    S1  2020-07-01 07:30:42  40.4
0   S2  2020-07-01 07:30:43  42.4
1   S3  2020-07-01 07:30:24  28.4
2   S4  2020-07-01 07:30:25  29.8
3   SB  2020-07-01 07:43:34  20.4
4   S3  2020-07-01 08:44:12  28.9
5   S2  2020-07-01 08:44:22  43.7
6   SD  2020-07-01 08:44:19  32.4
7   S4  2020-07-01 08:45:48  30.9
8   S1  2020-07-01 09:12:25  41.4
9   SB  2020-07-01 09:13:42  26.4
10  S2  2020-07-01 09:13:52  44.1
11  S1  2020-07-01 09:14:28  44.3
12  S2  2020-07-01 09:15:32  45.9
13  S4  2020-07-01 10:31:16  38.7
14  S3  2020-07-01 10:32:42  31.5
15  S1  2020-07-01 10:32:59  48.4
16  S3  2020-07-01 10:36:32  37.1
17  S4  2020-07-01 11:04:45  40.2
18  S3  2020-07-01 11:04:52  38.4
19  S1  2020-07-01 11:05:58  51.2
20  S2  2020-07-01 12:22:13  55.8
21  S1  2020-07-01 12:22:45  52.4
22  S1  2020-07-01 12:23:34  44.4
23  S4  2020-07-01 12:30:26  44.1
24  SD  2020-07-01 13:33:54  45.4
25  S1  2020-07-01 13:33:45  50.0
26  S3  2020-07-01 13:34:25  44.7
27  SB  2020-07-01 14:35:59  30.0
28  S4  2020-07-01 14:44:57  48.1
29  S1  2020-07-01 16:31:38  59.5
30  S2  2020-07-01 16:32:18  59.4
31  SB  2020-07-01 16:33:26  33.4
32  S4  2020-07-01 17:32:30  49.2

<h3>Read JSON</h3>

In [20]:
# Die Methode read_json() der Libary Pandas liest eine json-Datei ein und liefert als Rückgabewert einen DataFrame
temp_DataFrame = pd.read_json("12.2 TempsSmall.json")
temp_DataFrame

    S1  2020-07-01 07:30:42  40.4
0   S2  2020-07-01 07:30:43  42.4
1   S3  2020-07-01 07:30:24  28.4
2   S4  2020-07-01 07:30:25  29.8
3   SB  2020-07-01 07:43:34  20.4
4   S3  2020-07-01 08:44:12  28.9
5   S2  2020-07-01 08:44:22  43.7
6   SD  2020-07-01 08:44:19  32.4
7   S4  2020-07-01 08:45:48  30.9
8   S1  2020-07-01 09:12:25  41.4
9   SB  2020-07-01 09:13:42  26.4
10  S2  2020-07-01 09:13:52  44.1
11  S1  2020-07-01 09:14:28  44.3
12  S2  2020-07-01 09:15:32  45.9
13  S4  2020-07-01 10:31:16  38.7
14  S3  2020-07-01 10:32:42  31.5
15  S1  2020-07-01 10:32:59  48.4
16  S3  2020-07-01 10:36:32  37.1
17  S4  2020-07-01 11:04:45  40.2
18  S3  2020-07-01 11:04:52  38.4
19  S1  2020-07-01 11:05:58  51.2
20  S2  2020-07-01 12:22:13  55.8
21  S1  2020-07-01 12:22:45  52.4
22  S1  2020-07-01 12:23:34  44.4
23  S4  2020-07-01 12:30:26  44.1
24  SD  2020-07-01 13:33:54  45.4
25  S1  2020-07-01 13:33:45  50.0
26  S3  2020-07-01 13:34:25  44.7
27  SB  2020-07-01 14:35:59  30.0
28  S4  2020-07-01 14:44:57  48.1
29  S1  2020-07-01 16:31:38  59.5
30  S2  2020-07-01 16:32:18  59.4
31  SB  2020-07-01 16:33:26  33.4
32  S4  2020-07-01 17:32:30  49.2

<h3>Analyse mithilfe von DataFrames</h3>
    - Die Methode <b>head()</b> gibt die Kopfzeilen und eine bestimmte Anzahl von Zeilen zurück, beginnend von oben. <br>
    - Die Methode <b>tail()</b> gibt die Kopfzeilen und eine bestimmte Anzahl von Zeilen zurück, beginnend von unten. <br>

In [21]:
# Datei einlesen und Kopfzeile einbinden
temp_DataFrame = pd.read_csv("12.1 TempsSmall.csv", names=["Sensor", "Datum und Zeit", "Temperatur"])

# Head-Funktion beginnend von oben mit 10 Zeilen
print(temp_DataFrame.head(10))

# Tail-Funktion beginnend von unter mit 10 Zeilen
print(temp_DataFrame.tail(10))

  Sensor       Datum und Zeit  Temperatur
0     S1  2020-07-01 07:30:42        40.4
1     S2  2020-07-01 07:30:43        42.4
2     S3  2020-07-01 07:30:24        28.4
3     S4  2020-07-01 07:30:25        29.8
4     SB  2020-07-01 07:43:34        20.4
5     S3  2020-07-01 08:44:12        28.9
6     S2  2020-07-01 08:44:22        43.7
7     SD  2020-07-01 08:44:19        32.4
8     S4  2020-07-01 08:45:48        30.9
9     S1  2020-07-01 09:12:25        41.4
   Sensor       Datum und Zeit  Temperatur
24     S4  2020-07-01 12:30:26        44.1
25     SD  2020-07-01 13:33:54        45.4
26     S1  2020-07-01 13:33:45        50.0
27     S3  2020-07-01 13:34:25        44.7
28     SB  2020-07-01 14:35:59        30.0
29     S4  2020-07-01 14:44:57        48.1
30     S1  2020-07-01 16:31:38        59.5
31     S2  2020-07-01 16:32:18        59.4
32     SB  2020-07-01 16:33:26        33.4
33     S4  2020-07-01 17:32:30        49.2

<h2>Cleaning Data</h2>
<h3>Cleaning Empty Cells</h3>
Ein DataFrame kann alle leeren Zellen löschen, mit der Funktion <b>dropna()</b> <br>
Sollte der orginale DataFrame überschrieben werden, kann der Parameter <b>inplace</b> auf <b>true</b> gesetzt werden

In [22]:
temp_DataFrame = pd.read_csv("12.1 TempsSmall_EmptyCells.csv")
New_temp_DataFrame = temp_DataFrame.dropna()

print(New_temp_DataFrame)

temp_DataFrame.dropna(inplace = True)

   Sensor                Datum   Temperatur
0      S1  2020-07-01 07:30:43         40.4
2      S3  2020-07-01 07:30:24         28.4
3      S4  2020-07-01 07:30:25         29.8
4      SB  2020-07-01 07:43:34         20.4
6      S2  2020-07-01 08:44:22         43.7
7      SD  2020-07-01 08:44:19         32.4
8      S4  2020-07-01 08:45:48         30.9
9      S1  2020-07-01 09:12:25         41.4
10     SB  2020-07-01 09:13:42         26.4
12     S1  2020-07-01 09:14:28         44.3
13     S2  2020-07-01 09:15:32         45.9
15     S3  2020-07-01 10:32:42         31.5
16     S1  2020-07-01 10:32:59         48.4
17     S3  2020-07-01 10:36:32         37.1
18     S4  2020-07-01 11:04:45         40.2
19     S3  2020-07-01 11:04:52         38.4
20     S1  2020-07-01 11:05:58         51.2
21     S2  2020-07-01 12:22:13         55.8
22     S1  2020-07-01 12:22:45         52.4
23     S1  2020-07-01 12:23:34         44.4
24     S4  2020-07-01 12:30:26         44.1
25     SD  2020-07-01 13:33:54         45.4
26     S1  2020-07-01 13:33:45         50.0
27     S3  2020-07-01 13:34:25         44.7
28     SB  2020-07-01 14:35:59         30.0
31     S2  2020-07-01 16:32:18         59.4
32     SB  2020-07-01 16:33:26         33.4

<h3>Replace Empty Values</h3>
Eine andere Möglichkeit, als leere Zellen zu löschen, ist diese einfach mit einem neuen Wert zu ersetzen. Mit dieser Variante müssen Sie nicht ganze Datensätze löschen, sondern können den leeren Zellen einen neuen Wert zuschreiben. Die Methode <b>fillna()</b> ersetzt alle leeren Zellen mit einem übergebenen Wert.

In [23]:
temp_DataFrame = pd.read_csv("12.1 TempsSmall_EmptyCells.csv")

temp_DataFrame.fillna(130, inplace = True)
print(temp_DataFrame)

   Sensor                Datum   Temperatur
0      S1  2020-07-01 07:30:43         40.4
1      S2                  130         42.4
2      S3  2020-07-01 07:30:24         28.4
3      S4  2020-07-01 07:30:25         29.8
4      SB  2020-07-01 07:43:34         20.4
5      S3                  130         28.9
6      S2  2020-07-01 08:44:22         43.7
7      SD  2020-07-01 08:44:19         32.4
8      S4  2020-07-01 08:45:48         30.9
9      S1  2020-07-01 09:12:25         41.4
10     SB  2020-07-01 09:13:42         26.4
11    130  2020-07-01 09:13:52         44.1
12     S1  2020-07-01 09:14:28         44.3
13     S2  2020-07-01 09:15:32         45.9
14     S4  2020-07-01 10:31:16        130.0
15     S3  2020-07-01 10:32:42         31.5
16     S1  2020-07-01 10:32:59         48.4
17     S3  2020-07-01 10:36:32         37.1
18     S4  2020-07-01 11:04:45         40.2
19     S3  2020-07-01 11:04:52         38.4
20     S1  2020-07-01 11:05:58         51.2
21     S2  2020-07-01 12:22:13         55.8
22     S1  2020-07-01 12:22:45         52.4
23     S1  2020-07-01 12:23:34         44.4
24     S4  2020-07-01 12:30:26         44.1
25     SD  2020-07-01 13:33:54         45.4
26     S1  2020-07-01 13:33:45         50.0
27     S3  2020-07-01 13:34:25         44.7
28     SB  2020-07-01 14:35:59         30.0
29    130  2020-07-01 14:44:57         48.1
30     S1  2020-07-01 16:31:38        130.0
31     S2  2020-07-01 16:32:18         59.4
32     SB  2020-07-01 16:33:26         33.4
33     S4                  130         49.2

Das Beispiel oben ersetzt alle leeren Zellen im gesamten DataFrame. Um nur die leern Zellen in <u>einer</u> Spalte zu ersetzen, spezifizieren sie die Spalte.

In [32]:
temp_DataFrame = pd.read_csv("12.1 TempsSmall_EmptyCells.csv")

temp_DataFrame["Temperatur"].fillna(2000, inplace = True)
print(temp_DataFrame)

   Sensor                Datum  Temperatur
0      S1  2020-07-01 07:30:43        40.4
1      S2                  NaN        42.4
2      S3  2020-07-01 07:30:24        28.4
3      S4  2020-07-01 07:30:25        29.8
4      SB  2020-07-01 07:43:34        20.4
5      S3                  NaN        28.9
6      S2  2020-07-01 08:44:22        43.7
7      SD  2020-07-01 08:44:19        32.4
8      S4  2020-07-01 08:45:48        30.9
9      S1  2020-07-01 09:12:25        41.4
10     SB  2020-07-01 09:13:42        26.4
11    NaN  2020-07-01 09:13:52        44.1
12     S1  2020-07-01 09:14:28        44.3
13     S2  2020-07-01 09:15:32        45.9
14     S4  2020-07-01 10:31:16       200.0
15     S3  2020-07-01 10:32:42        31.5
16     S1  2020-07-01 10:32:59        48.4
17     S3  2020-07-01 10:36:32        37.1
18     S4  2020-07-01 11:04:45        40.2
19     S3  2020-07-01 11:04:52        38.4
20     S1  2020-07-01 11:05:58        51.2
21     S2  2020-07-01 12:22:13        55.8
22     S1  2020-07-01 12:22:45        52.4
23     S1  2020-07-01 12:23:34        44.4
24     S4  2020-07-01 12:30:26        44.1
25     SD  2020-07-01 13:33:54        45.4
26     S1  2020-07-01 13:33:45        50.0
27     S3  2020-07-01 13:34:25        44.7
28     SB  2020-07-01 14:35:59        30.0
29    NaN  2020-07-01 14:44:57        48.1
30     S1  2020-07-01 16:31:38       200.0
31     S2  2020-07-01 16:32:18        59.4
32     SB  2020-07-01 16:33:26        33.4
33     S4                  NaN        49.2

<h3>Mean, Median and Mode</h3>
Leere Zellen können auch durch einen errechneten Wert befüllt werden: <br>
- <b>mean()</b>: Der Durchschnittswert (Summe aller Werte geteilt durch die Anzahl an Werten)

In [35]:
temp_DataFrame = pd.read_csv("12.1 TempsSmall_EmptyCells.csv")

durchschnitts_Temp = temp_DataFrame["Temperatur"].mean()
temp_DataFrame["Temperatur"].fillna(durchschnitts_Temp, inplace = True)
print(temp_DataFrame)

   Sensor                Datum  Temperatur
0      S1  2020-07-01 07:30:43   40.400000
1      S2                  NaN   42.400000
2      S3  2020-07-01 07:30:24   28.400000
3      S4  2020-07-01 07:30:25   29.800000
4      SB  2020-07-01 07:43:34   20.400000
5      S3                  NaN   28.900000
6      S2  2020-07-01 08:44:22   43.700000
7      SD  2020-07-01 08:44:19   32.400000
8      S4  2020-07-01 08:45:48   30.900000
9      S1  2020-07-01 09:12:25   41.400000
10     SB  2020-07-01 09:13:42   26.400000
11    NaN  2020-07-01 09:13:52   44.100000
12     S1  2020-07-01 09:14:28   44.300000
13     S2  2020-07-01 09:15:32   45.900000
14     S4  2020-07-01 10:31:16   40.721875
15     S3  2020-07-01 10:32:42   31.500000
16     S1  2020-07-01 10:32:59   48.400000
17     S3  2020-07-01 10:36:32   37.100000
18     S4  2020-07-01 11:04:45   40.200000
19     S3  2020-07-01 11:04:52   38.400000
20     S1  2020-07-01 11:05:58   51.200000
21     S2  2020-07-01 12:22:13   55.800000
22     S1  2020-07-01 12:22:45   52.400000
23     S1  2020-07-01 12:23:34   44.400000
24     S4  2020-07-01 12:30:26   44.100000
25     SD  2020-07-01 13:33:54   45.400000
26     S1  2020-07-01 13:33:45   50.000000
27     S3  2020-07-01 13:34:25   44.700000
28     SB  2020-07-01 14:35:59   30.000000
29    NaN  2020-07-01 14:44:57   48.100000
30     S1  2020-07-01 16:31:38   40.721875
31     S2  2020-07-01 16:32:18   59.400000
32     SB  2020-07-01 16:33:26   33.400000
33     S4                  NaN   49.200000

- <b>median()</b>: Der Wert in der Mitte, nachdem alle Werte aufsteigend sortiert wurden

In [36]:
temp_DataFrame = pd.read_csv("12.1 TempsSmall_EmptyCells.csv")

durchschnitts_Temp = temp_DataFrame["Temperatur"].median()
temp_DataFrame["Temperatur"].fillna(durchschnitts_Temp, inplace = True)
print(temp_DataFrame)

   Sensor                Datum  Temperatur
0      S1  2020-07-01 07:30:43       40.40
1      S2                  NaN       42.40
2      S3  2020-07-01 07:30:24       28.40
3      S4  2020-07-01 07:30:25       29.80
4      SB  2020-07-01 07:43:34       20.40
5      S3                  NaN       28.90
6      S2  2020-07-01 08:44:22       43.70
7      SD  2020-07-01 08:44:19       32.40
8      S4  2020-07-01 08:45:48       30.90
9      S1  2020-07-01 09:12:25       41.40
10     SB  2020-07-01 09:13:42       26.40
11    NaN  2020-07-01 09:13:52       44.10
12     S1  2020-07-01 09:14:28       44.30
13     S2  2020-07-01 09:15:32       45.90
14     S4  2020-07-01 10:31:16       43.05
15     S3  2020-07-01 10:32:42       31.50
16     S1  2020-07-01 10:32:59       48.40
17     S3  2020-07-01 10:36:32       37.10
18     S4  2020-07-01 11:04:45       40.20
19     S3  2020-07-01 11:04:52       38.40
20     S1  2020-07-01 11:05:58       51.20
21     S2  2020-07-01 12:22:13       55.80
22     S1  2020-07-01 12:22:45       52.40
23     S1  2020-07-01 12:23:34       44.40
24     S4  2020-07-01 12:30:26       44.10
25     SD  2020-07-01 13:33:54       45.40
26     S1  2020-07-01 13:33:45       50.00
27     S3  2020-07-01 13:34:25       44.70
28     SB  2020-07-01 14:35:59       30.00
29    NaN  2020-07-01 14:44:57       48.10
30     S1  2020-07-01 16:31:38       43.05
31     S2  2020-07-01 16:32:18       59.40
32     SB  2020-07-01 16:33:26       33.40
33     S4                  NaN       49.20

- <b>mode()</b>: Der Wert der am meisten erscheint

In [37]:
temp_DataFrame = pd.read_csv("12.1 TempsSmall_EmptyCells.csv")

durchschnitts_Temp = temp_DataFrame["Temperatur"].mode()
temp_DataFrame["Temperatur"].fillna(durchschnitts_Temp, inplace = True)
print(temp_DataFrame)

   Sensor                Datum  Temperatur
0      S1  2020-07-01 07:30:43        40.4
1      S2                  NaN        42.4
2      S3  2020-07-01 07:30:24        28.4
3      S4  2020-07-01 07:30:25        29.8
4      SB  2020-07-01 07:43:34        20.4
5      S3                  NaN        28.9
6      S2  2020-07-01 08:44:22        43.7
7      SD  2020-07-01 08:44:19        32.4
8      S4  2020-07-01 08:45:48        30.9
9      S1  2020-07-01 09:12:25        41.4
10     SB  2020-07-01 09:13:42        26.4
11    NaN  2020-07-01 09:13:52        44.1
12     S1  2020-07-01 09:14:28        44.3
13     S2  2020-07-01 09:15:32        45.9
14     S4  2020-07-01 10:31:16         NaN
15     S3  2020-07-01 10:32:42        31.5
16     S1  2020-07-01 10:32:59        48.4
17     S3  2020-07-01 10:36:32        37.1
18     S4  2020-07-01 11:04:45        40.2
19     S3  2020-07-01 11:04:52        38.4
20     S1  2020-07-01 11:05:58        51.2
21     S2  2020-07-01 12:22:13        55.8
22     S1  2020-07-01 12:22:45        52.4
23     S1  2020-07-01 12:23:34        44.4
24     S4  2020-07-01 12:30:26        44.1
25     SD  2020-07-01 13:33:54        45.4
26     S1  2020-07-01 13:33:45        50.0
27     S3  2020-07-01 13:34:25        44.7
28     SB  2020-07-01 14:35:59        30.0
29    NaN  2020-07-01 14:44:57        48.1
30     S1  2020-07-01 16:31:38         NaN
31     S2  2020-07-01 16:32:18        59.4
32     SB  2020-07-01 16:33:26        33.4
33     S4                  NaN        49.2

<h2>Daten im falschen Format</h2>
<h3>Konvertieren in das Korrekte Format</h3>
In unserem DataFrame haben zwei Zellen der Spalte Datum das Falsche Format (NaN). Um die Daten im falsch Format in ein DateTime-Format zu konvertieren, dies ist möglich mit der Methode <b>to_datetime()</b>

In [3]:
temp_DataFrame = pd.read_csv("12.1 TempsSmall_EmptyCells.csv")

temp_DataFrame["Datum"] = pd.to_datetime(temp_DataFrame["Datum"])
print(temp_DataFrame)

   Sensor               Datum  Temperatur
0      S1 2020-07-01 07:30:43        40.4
1      S2                 NaT        42.4
2      S3 2020-07-01 07:30:24        28.4
3      S4 2020-07-01 07:30:25        29.8
4      SB 2020-07-01 07:43:34        20.4
5      S3                 NaT        28.9
6      S2 2020-07-01 08:44:22        43.7
7      SD 2020-07-01 08:44:19        32.4
8      S4 2020-07-01 08:45:48        30.9
9      S1 2020-07-01 09:12:25        41.4
10     SB 2020-07-01 09:13:42        26.4
11    NaN 2020-07-01 09:13:52        44.1
12     S1 2020-07-01 09:14:28        44.3
13     S2                 NaT        45.9
14     S4 2020-07-01 10:31:16         NaN
15     S3 2020-07-01 10:32:42        31.5
16     S1 2020-07-01 10:32:59        48.4
17     S3 2020-07-01 10:36:32        37.1
18     S4 2020-07-01 11:04:45        40.2
19     S3 2020-07-01 11:04:52        38.4
20     S1 2020-07-01 11:05:58        51.2
21     S2 2020-07-01 12:22:13        55.8
22     S1 2020-07-01 12:22:45        52.4
23     S1 2020-07-01 12:23:34        44.4
24     S4 2020-07-01 12:30:26        44.1
25     SD 2020-07-01 13:33:54        45.4
26     S1 2020-07-01 13:33:45        50.0
27     S3 2020-07-01 13:34:25        44.7
28     SB 2020-07-01 14:35:59        30.0
29    NaN 2020-07-01 14:44:57        48.1
30     S1 2020-07-01 16:31:38         NaN
31     S2                 NaT        59.4
32     SB 2020-07-01 16:33:26        33.4
33     S4                 NaT        49.2

NEXT: WRONG DATA