In [2]:
# Imports
import pandas as pd
import sys

In [3]:
# Einlesen der CSV-Datei
temp_DataFrame = pd.read_csv("tempsSmall.csv")
temp_DataFrame

    S1  2020-07-01 07:30:42  40.4
0   S2  2020-07-01 07:30:43  42.4
1   S3  2020-07-01 07:30:24  28.4
2   S4  2020-07-01 07:30:25  29.8
3   SB  2020-07-01 07:43:34  20.4
4   S3  2020-07-01 08:44:12  28.9
5   S2  2020-07-01 08:44:22  43.7
6   SD  2020-07-01 08:44:19  32.4
7   S4  2020-07-01 08:45:48  30.9
8   S1  2020-07-01 09:12:25  41.4
9   SB  2020-07-01 09:13:42  26.4
10  S2  2020-07-01 09:13:52  44.1
11  S1  2020-07-01 09:14:28  44.3
12  S2  2020-07-01 09:15:32  45.9
13  S4  2020-07-01 10:31:16  38.7
14  S3  2020-07-01 10:32:42  31.5
15  S1  2020-07-01 10:32:59  48.4
16  S3  2020-07-01 10:36:32  37.1
17  S4  2020-07-01 11:04:45  40.2
18  S3  2020-07-01 11:04:52  38.4
19  S1  2020-07-01 11:05:58  51.2
20  S2  2020-07-01 12:22:13  55.8
21  S1  2020-07-01 12:22:45  52.4
22  S1  2020-07-01 12:23:34  44.4
23  S4  2020-07-01 12:30:26  44.1
24  SD  2020-07-01 13:33:54  45.4
25  S1  2020-07-01 13:33:45  50.0
26  S3  2020-07-01 13:34:25  44.7
27  SB  2020-07-01 14:35:59  30.0
28  S4  2020-07-01 14:44:57  48.1
29  S1  2020-07-01 16:31:38  59.5
30  S2  2020-07-01 16:32:18  59.4
31  SB  2020-07-01 16:33:26  33.4
32  S4  2020-07-01 17:32:30  49.2

In [26]:
# Variablen initialisieren
maxTemp = sys.float_info.min
minTemp = sys.float_info.max
avgTemp = 0

# Maximale Temperatur ermitteln
for temperatur in temp_DataFrame.values:
    if temperatur[2] > maxTemp:
        maxTemp = temperatur[2]

# Minimale Temperatur ermitteln
for temperatur in temp_DataFrame.values:
    if temperatur[2] < minTemp:
        minTemp = temperatur[2]

# Durschnittliche Temperatur ermitteln
count = 0
tempSum = 0
for temperatur in temp_DataFrame.values:
    tempSum += temperatur[2]
    count += 1 

avgTemp = tempSum / count

print(f"The highest temperature is {maxTemp}")
print(f"The lowest temperature is {minTemp}")
print(f"The average temperature is {avgTemp}")

The highest temperature is 59.5
The lowest temperature is 20.4
The average temperature is 41.23939393939394

In [18]:
# CSV-Datei Spalten bearbeiten
temp_DataFrame.columns = ["Sensor", "Datum", "Temperatur"]

In [20]:
# Maximale Temperatur ermitteln
print(temp_DataFrame.max()[2])

# Minimale Temperatur ermitteln
print(temp_DataFrame.min()[2])

59.5
20.4

In [27]:
# Maximale Temperatur ermitteln
print(temp_DataFrame["Temperatur"].max())

# Minimale Temperatur ermitteln
print(temp_DataFrame["Temperatur"].min())

# Durchschnittliche Temperatur ermitteln
print(temp_DataFrame["Temperatur"].mean())

59.5
20.4
41.23939393939394